<div>
  <h2 class="title">Login</h2>
  <alert *ngIf="error" type="warning" dismissOnTimeout="3000">{{error}}</alert>
  <form role="form" [ngFormModel]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" ngControl="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ngControl="password" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-info">Login</button>
    <button md-button class="btn btn-warn">Forgot password?</button>
  </form>
</div>